POCKET_API_KEY=pk_xxx
GMAIL_ADDRESS=youraddress@gmail.com
GMAIL_APP_PASSWORD=your16charapppassword

# These are auto-populated by Vercel when you create/link a KV store -
# you don't need to set them by hand if deploying on Vercel.
KV_REST_API_URL=
KV_REST_API_TOKEN=
